node_modules/
.env
.env.docker
/generated/prisma
/public/images/pages/*
!/public/images/pages/page-default.jpg
/public/images/products/*
!/public/images/products/product-default.jpg
/public/images/banners/*
!/public/images/banners/banner-default.jpg